/* GENERAL */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* HERO */
.hero {
    height: 90vh;
    background: url("../images/gymbackground.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* MAIN SECTION BACKGROUND  */
.main-section {
    background: url("../images/background1.jpg") center/cover no-repeat;
    padding: 100px 0;
}

/* BOXES */
.feature-box,
.product-box {
    background: rgba(224, 240, 255, 0.9); /* transparent light blue */
    border-radius: 20px;
    transition: 0.3s;
}

/* HOVER EFFECT */
.feature-box:hover,
.product-box:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/*  TEXT ON BACKGROUND */
.main-section h2,
.main-section h3,
.main-section h5,
.main-section p {
    color: rgb(245, 10, 10);
}
